{{ define "login_form" }}
<!-- form login with bootstrap and BEM metodology -->
<div class="container">
    <div class="row container__form">
        <!-- form header -->
        <div class="container__form__header">
            <!-- error with alert bootstrap -->
            <div id="error" class="container__form__header-error alert mt-3 alert-danger">
                <p class="container__form__header-error-message" id="error-message">
                    <span class="container__form__header-error-message-text">{{ .Error }}</span>
                    <button type="button" class="container__form__header-error-message-btn close" data-dismiss="alert" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            </div>
            <h1 class="form__header-title"><span>{{ .Title }}</span></h1>
        </div>
        <form action="{{ .Url }}" method="{{ .Method }}" class="col form" id="form">
            <!-- form body -->
            <div class="form__body">
                <!-- form groups -->
                <div class="form__body__group form-group">
                    <label for="email" class="form__body__group-label">{{ .Label.LabelEmail }}</label>
                    <input type="email" required name="email" id="email" placeholder="{{ .Placeholder.PlaceholderEmail }}" class="form__body__group-input form-control">
                    <small class="form__body__group-error"></small>
                </div>
                <div class="form__body__group form-group">
                    <label for="password" class="form__body__group-label">{{ .Label.LabelPassword }}</label>
                    <input type="password" required name="password" id="password" placeholder="{{ .Placeholder.PlaceholderPassword }}" class="form__body__group-input form-control">
                    <small class="form__body__group-error"></small>
                </div>
                <div class="form__body__group form-group">
                    <input type="submit" disabled name="send" id="send" value="{{ .Label.InputSubmit }}" class="form__body__group-btn btn btn-primary btn-sm btn-block">
                </div>
            </div>
        </form>
        <!-- form footer -->
        <div class="container__form__footer">
            <a href="/signup" class="container__form__footer-link btn btn-link">Registrarse</a>
        </div>
    </div>
</div>
{{ end }}
